[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-environ = "*"
pytest = "*"
pytest-django = "*"
python-coveralls = "*"

[dev-packages]

[requires]
python_version = "3.9"
