[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-environ = "*"
pytest = "*"
pytest-django = "*"
coveralls = "*"
pillow = "*"
coverage = "*"
pandas = "*"
xlrd = "*"
drf-extra-fields = "*"

[dev-packages]

[requires]
python_version = "3.9"
