# You need to create a .env file with the following parameters to fit your environment's needs
# For more informations, see: https://django-environ.readthedocs.io/en/latest/

DEBUG=on
SECRET_KEY=your-secret-key